[submodule "physics/rte-rrtmgp"]
  path = physics/rte-rrtmgp
  url = https://github.com/earth-system-radiation/rte-rrtmgp
  branch = dtc/ccpp
[submodule "physics/mmm_physics"]
  path = physics/mmm_physics
  url = git@github.com:scrasmussen/SCM-physics.git
  branch = mmm_physics
